
<div class="row">
    <div class="col-sm-6">
        <canvas id="bar" class="chart chart-bar" chart-data="data"
                chart-series="series" backgroundColor='' fill="true"  chart-labels="labels"  height="500px" width="500px">
        </canvas>
    </div>

    <div class="col-sm-6">
        <canvas id="pie" class="chart chart-pie" height="500px" width="500px"
                 chart-legend="true" chart-data="pdata" chart-labels="plabels">
        </canvas>
    </div>
</div>



<!--
<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series">
</canvas>


<canvas id="pie" class="chart chart-pie"
        chart-data="data" chart-labels="labels" chart-options="options">
</canvas>-->
