
<div class="row" style="margin: 20px">

    <div class="col-sm-4">
        <canvas id="bar" class="chart chart-bar" chart-data="ch.data"
                chart-colors="ch.colors"  chart-series="ch.series"  chart-labels="ch.labels"  height="400px" width="400px">
        </canvas>
    </div>

    <div class="col-sm-4">
        <canvas id="pie" class="chart chart-pie" height="400px" width="400px"
                 chart-legend="true" chart-data="ch.pdata" chart-labels="ch.plabels">
        </canvas>
    </div>

    <div class="col-sm-2">
        <a href="/"><i class="fa fa-backward" aria-hidden="true"></i>
            back to dashboard</a>
    </div>
</div>



<!--
<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"> chart-series="series">
</canvas>


<canvas id="pie" class="chart chart-pie"
        chart-data="data" chart-labels="labels" chart-options="options">
</canvas>-->
