<div class="text-center dashboardDiv" ng-controller="dashboardController as dc">
    <div class="row content" style="margin-left: 60px">
  <!--<div class="col-sm-1 sidenav" style="height:550px"></div>-->

    <div class="col-sm-12" style="height:550px">

    <div class="container-fluid bg-3 text-center">

        <select class="todoSelect">
            <option>---select---</option>
            <option>statuses</option>
        </select>

        <button class="dashBoardAddButton btn btn-primary" data-toggle="modal" data-target="#addNewRecored"><i class="fa fa-plus" aria-hidden="true"></i>
            {{'Add_New_task'|translate}}</button>

        <hr>
        <!--complete code here upper side-->


        <div class="row">

            <div class="tasks col-sm-4 text-left"  ng-repeat="task in TASKS">
               <div>
                             <h4 class="text-left col-md-1">{{ 'TITLE' | translate }}</h4>

                   <a href="#" data-toggle="tooltip" title="Delete Task..!"><i class="fa fa-trash fa-2x titleTrash"></i></a>

                   <a href="#" data-toggle="tooltip" title="Mark as a Complete!">
                             <i class="fa fa-check-square fa-2x" aria-hidden="true"></i></a>
                </div>

                <div class="titleLine"></div>
                <br class="text-left innerTask" style="line-height: 30px">
                        <b>{{ 'Description' | translate }}:</b><label>{{task.name}}</label></br>
                        <b>{{ 'Status' | translate }}:</b><label>{{task.description}}</label></br>
                        <b>{{ 'Start_Date' | translate }}:</b><label>{{task.start-date}}</label>
                        <b>{{ 'End_Date' | translate }}:</b><label>{{task.end-date}}</label></br>
                        <b>{{ 'Priority' | translate }}:</b><label>{{task.priority}}</label>
                </div>

            </div>
        </div>
    </div>

 </div>
    </div>



<!--Model Code-->
<div class="modal fade" id="addNewRecored" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Recored</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td><b>Description:</b></td>
                        <td><input type="text" placeholder="Description"/></td>
                    </tr>

                    <tr>
                        <td><b>Status:</b></td>
                        <td><input type="text" placeholder="Status"/></td>
                    </tr>

                    <tr>
                        <td><b>Start Date:</b></td>
                        <td><input type="text" placeholder="Start Date"/></td>
                    </tr>

                    <tr>
                        <td><b>End Date:</b></td>
                        <td><input type="text" placeholder="End Date"/></td>
                    </tr>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    </div>