<div class="text-center dashboardDiv" ng-controller="dashboardController as dc">
    <div class="row content" style="margin: 12px">

        <div class="col-sm-12">
            <div class="row">

                        <div class="col-sm-4">

                            <ui-select ng-model="dc.selectedStatus" ng-change="dc.filterTasks()">
                                <ui-select-match placeholder="Select status here" allow-clear="true">
                                    <span ng-bind="dc.selectedStatus.name"></span>
                                </ui-select-match>

                                <ui-select-choices repeat="item in dc.statuses track by item.name">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>


                        <div class="col-sm-4">

                            <ui-select multiple ng-model="dc.selectedPriority" ng-change="dc.filterTasks()">
                                <ui-select-match placeholder="Select Priorities here" allow-clear="true" >
                                   <span> {{$item.name}}</span>
                                </ui-select-match>

                                <ui-select-choices repeat="item in dc.priorityArray track by item.name">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>

                        </div>

                        <div class="col-sm-2">
                           <a href="chart">Show Tasks on chart</a>
                        </div>

                        <div class="col-sm-2">
                            <button class="btn btn-primary" ng-click="dc.openModel()"><i class="fa fa-plus" aria-hidden="true"></i>
                                {{'Add_New_task'|translate}}</button>
                        </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4 text-left tasks" ng-repeat="task in dc.tasks track by $index">
                    <div class="{{task.priority}}">
                            <div class="row">
                                <div class="col-sm-8" style="border-bottom: 1px solid #ccc;margin-left:10px"><h4 class="text-left col-md-1">{{ 'TITLE' | translate }}</h4></div>

                                <div class="col-sm-3">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" tooltip-placement='top' uib-tooltip="{{dc.deleteTooltip}}"  ng-click="dc.deleteTask(task.name)" class="{{task.status=='COMPLETED'?'ng-hide':'a'}}">
                                                <i class="fa fa-trash fa-2x"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <a href="#" tooltip-placement='top' uib-tooltip="{{dc.selectedTooltip}}" ng-click="dc.checkSelect(task.name)">
                                                <i class="fa fa-square-o fa-2x {{task.status=='COMPLETED'?'ng-hide':'a'}}" aria-hidden="true"></i>
                                                <i class="fa fa-check-square-o fa-2x {{task.status!='COMPLETED'?'ng-hide':'a'}}" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div>
                            <br class="text-left innerTask" style="line-height: 30px">

                            <b>{{ 'TaskName' | translate }}:</b><label>{{task.name}}</label></br>
                            <b>{{ 'Description' | translate }}:</b><label>{{task.description}}</label></br>
                            <b>{{ 'Status' | translate }}:</b><label>{{task.status}}</label></br>
                            <b>{{ 'Start_Date' | translate }}:</b><label>{{task.startdate}}</label>
                            <b>{{ 'End_Date' | translate }}:</b><label>{{task.enddate}}</label></br>
                            <b>{{ 'Priority' | translate }}:</b><label>{{task.priority}}</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

    <!--Model Code-->
    <div ng-controller="dashboardController">

    </div>