<div>
    <div class="modal-header text-center" style="background: gainsboro">
        <h3 class="modal-title">{{'EditTask'|translate}}</h3>
    </div>

    <div class="modal-body">
        <form role="form" name="editForm" ng-submit="ok()">
        <div>
            <div class="row">
                <div class="col-sm-6"><label>Task Name:</label></div>
                <div class="col-sm-6"> <input type='text' name='taskname' ng-model="edittaskContant.name" required class="form-control" placeholder="Task Name">
                    <span ng-show="editForm.taskname.$error.required && editForm.taskname.$invalid" style="color: red">Please fill out this filed</span></div>
            </div>

            <div class="row">
                <div class="col-sm-6"><label>Description:</label></div>
                <div class="col-sm-6"><input type='text' name='description' ng-model="edittaskContant.description" required class="form-control" placeholder="Description">
                    <span ng-show="editForm.description.$error.required && editForm.description.$invalid" style="color:red">Please fill out this filed</span></div>
            </div>

            <div class="row">
                <div class="col-sm-6"><label>Status:</label></div>
                <div class="col-sm-6">
                    <input type='text' name='status' ng-model="edittaskContant.status" required class="form-control" placeholder="Status">
                    <span ng-show="editForm.status.$error.required && editForm.status.$invalid" style="color:red">Please fill out this filed</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6"><label>Start Date:</label></div>
                <div class="col-sm-6"><input type='text' name='startdate' ng-model="edittaskContant.startdate" required class="form-control" placeholder="Start Date">
                    <span ng-show="editForm.startdate.$error.required && editForm.startdate.$invalid" style="color:red">Please fill out this filed</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6"><label>End Date:</label></div>
                <div class="col-sm-6">
                    <input type='text' name='enddate' ng-model="edittaskContant.enddate" required class="form-control" placeholder="End Date">
                    <span ng-show="editForm.enddate.$error.required && editForm.enddate.$invalid" style="color:red">Please fill out this filed</span>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6"><label>Priority:</label></div>
                <div class="col-sm-6">

                    <select ng-model="edittaskContant.priority" style="width: 268px;">
                        <option>HIGH</option>
                        <option>MEDIUM</option>
                        <option>LOW</option>
                    </select>
                </div>
            </div>

        </div>
            <div class="modal-footer" style="background: gainsboro">
                <button class="btn btn-primary" type="submit">OK</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>


</div>