/*.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../image/Preloader_8.gif") 50% 50% no-repeat rgb(249,249,249);
}*/

.HIGH{
    border: 1px solid;
    background-color: #ff6666;
    padding: 5px;
}

.MEDIUM{
    border: 1px solid;
    background-color: #80d4ff;
    padding: 5px;
}

.LOW{
    border: 1px solid;
    background-color: #9fdfbf;
    padding: 5px;
}


.dashboardDiv{
    margin: 10px;
}

.titleLine{
    background-color: black;
    height: 2px;
    margin-bottom: -14px;
    margin-left: -16px;
    width: 205px;

}
.titleTrash{
    margin-left: 207px;
    margin-top: 10px;
    padding: 2px 15px 2px 2px;
}
.innerTask{
    margin: 0px;
}

.tasks{
    /*height: 244px;*/
    margin-bottom: 10px;
}

/*ng-view css*/


.view-animate-container {
    position:relative;
    height:100px!important;
    background:white;
    border:1px solid black;
    height:40px;
    overflow:hidden;
}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

    display:block;
    width:100%;
    border-left:1px solid black;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}

.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}

