.line{
    background-color: black;
    height: 2px;
    width: 1010px;
    margin: 20px;
}

.HIGH{
    border: 1px solid;
    background-color: #ff6666;
    margin: 5px;
    padding: 17px;
}

.MEDIUM{
    border: 1px solid;
    background-color: #80d4ff;
    margin: 10px;
    padding: 17px;
}

.LOW{
    border: 1px solid;
    background-color: #9fdfbf;
    margin: 10px;
    padding: 17px;
}


.dashboardDiv{
    margin: 10px;
}

.titleLine{
    background-color: black;
    height: 2px;
    margin-bottom: -14px;
    margin-left: -16px;
    width: 205px;

}
.titleTrash{
    margin-left: 207px;
    margin-top: 10px;
    padding: 2px 15px 2px 2px;
}
.innerTask{
    margin: 0px;
}

.tasks{
    height: 244px;
}