.modal-body {
    line-height: 34px;
}
    /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

    .todoHeader{
        background-color: lightgray;
        border-bottom: 1px solid;
    }
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
    }
    .heading{
            font-size: 390%;
             margin-left: 40px;
    }
    .subHeading{
        margin-left: 200px;
        margin-top: -10px;
    }
    .language{
        margin-left: 1110px;
    }
    .contDiv{
        height: 100%;
    }


    /*footer*/
    #footer {

        left:0px;
        background:#999;
        border-top: 1px solid black;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /*!* IE 6 *!
    * html #footer {
        position:absolute;
        !*top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');*!
    }*/

/*for drop down css*/

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
    display: block;
}


