
    /* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

    .todoHeader{
        background-color: lightblue;
        border-bottom: 1px solid;
    }
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
    }
    .heading{
             margin-left: 40px;
    }
    .subHeading{
                margin-left: 80px;
                margin-top: 0px;
    }
    .language{
        margin-left: 1110px;
    }
    .contDiv{
        height: 100%;
    }


    /*footer*/
    #footer {
        position:fixed;
        left:0px;
        bottom:0px;
        width:100%;
        background:#999;
        border-top: 1px solid black;
    }

    /*!* IE 6 *!
    * html #footer {
        position:absolute;
        !*top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');*!
    }*/