<!DOCTYPE html>
<html ng-app="todoApp">
    <base href="/"/>

    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/toDo.css">
    <link rel="stylesheet" href="css/dashboard.css">

    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>


    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar todoHeader" ng-controller="commonController">
    <div class="row">
        <div class="col-sm-10">
            <h1 class="heading">TODOApp</h1>
        </div>

        <div class="col-sm-2">
            <span><a ng-click="changeLanguage('en')">{{'English'|translate}}</a>|<a ng-click="changeLanguage('de')">{{'Spanish'|translate}}</a></span>
        </div>

    </div>
    <div><h3 class="subHeading">{{'Manage_Your_Tasks'|translate}}</h3></div>
</nav>

<div class="contDiv" style="clear: both;" ng-view>

</div>

<div class="text-center" id="footer" style="clear: both;">
    <div class="row">
        <div class="col-sm-9"></div>
        <div class="col-sm-3"><h3 class="toDoFooter">Powered By SemanticBits</h3></div>
    </div>

</div>



<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>

<script src="bower_components/angular-ui-select/dist/select.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="bower_components/Chart.js/Chart.js"></script>
<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>

<script src="module/todo/app.module.js"></script>
<script src="module/todo/app.config.js"></script>
<script src="module/todo/app.run.js"></script>

<script src="module/todo/dashboard/dashboard.factory.js"></script>
<script src="module/todo/dashboard/dashboard.controller.js"></script>
<script src="module/todo/comman/comman.controller.js"></script>
<script src="module/todo/comman/comman.factory.js"></script>
<script src="module/todo/chart/chart.controller.js"></script>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.js"></script>






<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>

</body>
</html>